/* p {
    color: red;     =cor do texto usando css      
  }                 
   */
 
   html {
       font-family: 'Crimson Pro', serif;
       background-color: #0dabb6d9;
       /* text-align: left; */
       font-weight: bold;
       /* text-decoration: underline; */

     

       }
        
        .jhenny {
           display: block;
           margin: 0 auto;
           width: 50%;
       }
        body {                 
            width: 600px;
            margin:  20px auto;
            padding: 0px 20px 20px 20px;
            background-color: white;
            border: 5px solid black;
            font-family: 'Crimson Pro', serif;
            font-size: 12px;
            }

   h1 {
       margin: 0;
       padding: 20px 0;
   }

